html
{
Font-size:15px;
Font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
/*Font-weight:400;*/
line-height: 1.5;
color: #545454;
}

a:link, a:visited
{
  text-decoration: none;
  padding: 3px;
  color: #2099d1;
}

a:hover, a:active
{
  padding: 3px;
  text-decoration: #2099d1 underline;
  background-color: #2099d1; /*SlateBlue;*/
  color: white;
}

a.button-small:link, a.button-small:visited
{
  Font-size:15px;
  padding: 2px 3px;

  color: #2099d1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: white;
}

a.button-small:hover, a.button-small:active
{
  font-weight: normal;
  Font-size:15px;
  padding: 2px 3px;
  text-decoration: #2099d1 underline;
  background-color: #2099d1; /*SlateBlue;*/
  color: white;
}


a.symbol
{
  text-decoration: none;
  padding: 5px;
}

a.button:link, a.button:visited {
  background-color: white;
  color: black;
  border: 2px solid #2099d1; /*SlateBlue;*/
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.button:hover, a.button:active {
  background-color: #2099d1; /*SlateBlue;*/
  color: white;
}

img {
  border-radius: 7pt;
}

table
{
  align-content: center;
  align-self: center;
}

.mail
{
Font-size:15px;
Font-family:"Lucida Console", "Courier New", monospace;
/*Font-weight:400;*/
color: #545454;
}

.right-element
{
  text-align: right;
}

.summary
{
  padding: 30px;
  align-items: right;
  align-self: right;
}


.container {
  position: relative;
  /*text-align: center;*/
  margin: 5%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.date
{
  text-align: right;
  padding: 5px;
  Font-size:22px;
}

.date-small
{
  padding-top: 5px;
  text-align: right;
  Font-size:22px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.boxed {
    padding: 10px 20px;
    border: 2px solid blue;
}

.header
{
  color: white;
  background-color: #2099d1; /*SteelBlue;*/
}

.title
{
  Font-size:35px;
  padding: 10px;
}

.footer
{
  padding: 20px;
  color: lightgrey;
}

.publication
{
  font-style: italic;
  padding: 5px;
}

.project-title
{
  Font-size:18px;
}
